<template>
 <div class="search">
   <input class="search__input"
          type="search"
          v-model="searchKeyword"
          placeholder="Search something ...">
   <button class="search__btn" @click="search" :disabled="!isNotEmpty">Search</button>
 </div>
</template>

<script>
export default {
	data() {
		return {
			searchKeyword: ''
		}
	},
	methods: {
		search() {
      this.$emit('newKeyword', this.searchKeyword);
      this.searchKeyword = ''
    },
	},
  computed: {
		isNotEmpty(){
		  return this.searchKeyword;
	  }
  }
}
</script>


<style lang="scss" scoped>
  @import '../assets/main.scss';
  .search {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $montserrat;
    &__input,
    &__btn {
      height: 40px;
      border: 1px solid $primary;
      border-radius: 4px;
    }
    &__input {
      width: 200px;
      display: flex;
      align-items: center;
      padding: 0 8px 0 16px;
    }
    &__btn {
      margin-left: 16px;
      background: #fff;
      cursor: pointer;
      transition: .5s;
      padding: 0 16px;
      &:hover {
        background: $primary;
        color: #fff;
      }
      &:disabled {
        background: #efefef;
        border-color: #efefef;
        cursor: default;
        color: grey;
      }
    }
  }
  input[type="search"]::placeholder {
    font-family: $montserrat;
  }
</style>
