@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
$primary: #191970;
$montserrat: 'Montserrat', sans-serif;

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: $montserrat;
}

a, button, input {
	font-family: $montserrat;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}