<template>
  <div id="app">
    <div class="wrapper">
      <search
        @newKeyword="searchRequest">
      </search>
      <div v-if="photos.length > 0">
        <span class="result"> Results for {{ this.searchKeyword }}</span>
        <pagination
          :current="currentPage"
          :totalPages="pages"
          @page-changed="changePage">
        </pagination>
        <div class="content">
          <div class="content__item" v-for="item in photos">
            <img class="content__image" :src="item.url_n">
          </div>
        </div>
      </div>
      <div class="wrapper__inner" v-else>
        <span>Try to search something</span>
      </div>
    </div>
  </div>
</template>

<script>
import { appUrls } from './settings'
import Search from './components/Search.vue'
import Pagination from './components/Pagination.vue'

export default {
  name: 'app',
  components: { Search, Pagination },
  data() {
  	return {
		  photos: [],
		  pages: '',
      searchKeyword: '',
      currentPage: 1
    }
  },
  methods: {
	  searchRequest(keyword) {
		  appUrls.fetchPhotos(keyword, 1).then(response => {
		  	this.searchKeyword = keyword;
			  this.photos = response.data.photos.photo;
			  this.pages = response.data.photos.pages;
		  });
		  this.currentPage = 1;
	  },
	  changePage(current) {
		  appUrls.fetchPhotos(this.searchKeyword, current).then(response => {
			  this.photos = response.data.photos.photo;
			  this.pages = response.data.photos.pages;
		  });
		  this.currentPage = current;
	  }
  }
}
</script>

<style lang="scss">
  @import 'assets/main.scss';
  .wrapper {
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: calc(100vh - 80px);
    }
  }
  .content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    &__item {
      width: calc(20% - 32px);
      padding: 16px;
      display: flex;
      align-items: center;
      @media(max-width: 1024px) {
        width: calc(33.33333% - 32px);
      }
      @media(max-width: 767px) {
        width: 100%;
      }
    }
    &__image {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .result {
    display: inline-block;
    font-size: 16px;
    color: $primary;
    width: 100%;
    text-align: center;
    margin: 16px auto;
  }
</style>
